@use 'sass:map';
@use './var';

@use 'mixins/var' as *;
@use 'mixins/mixins' as *;
@use 'reset.scss' as *;

@include b(frame) {
  @include set-var($frame);
  &.theme-light {
    @include set-var($frameLight);
  }
  * {
    box-sizing: border-box;
  }

  width: 100%;
  height: 100%;
  overflow: hidden;
  @include m(header) {
    display: flex;
    align-items: center;
    height: get-var('height-header');
  }
  @include m(header__main) {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    height: get-var('height-header');
  }
  @include m(header__side) {
    display: flex;
    align-items: center;
    height: get-var('height-header');
  }
  @include m(header__user) {
    display: flex;
    gap: 4px;
    align-items: center;
    height: get-var('height-header');
    padding: 0 10px;
    cursor: pointer;
    > .el-avatar {
      background-color: var(--el-color-primary, #1b85ff)
    }
  }
  @include m(header__breadcrumb) {
    display: flex;
    align-items: center;
    height: get-var('height-header');
    padding: 0 10px;
  }
  @include m(logo) {
    display: flex;
    align-items: center;
    width: get-var('width-menu');
    height: get-var('height-header');
    padding: 0 10px;
    color: get-var('color-font-logo');
    background-color: get-var('color-bg-logo');
  }
  @include m(body) {
    position: relative;
    height: calc(100% - get-var('height-header'));
    padding-left: get-var('width-menu');
    @include when(fullscreen) {
      padding-left: 0;
    }
    &::before {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      z-index: 15;
      height: 6px;
      content: '';
      background: linear-gradient(
        to bottom,
        get-var('color-shadow'),
        rgb(255 255 255 / 0%)
      );
    }
  }
  @include m(side) {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 12;
    width: get-var('width-menu');
    height: 100%;
    background-color: get-var('color-bg-logo');
    &::after {
      position: absolute;
      top: 0;
      right: -6px;
      bottom: 0;
      z-index: 15;
      width: 6px;
      content: '';
      background: linear-gradient(
        to right,
        get-var('color-shadow'),
        rgb(255 255 255 / 0%)
      );
    }
  }
  @include m(main) {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  @include m(menu) {
    &,
    .el-menu {
      --el-menu-active-color: var(--hg-frame-color-font-menu-active);
      --el-menu-text-color: var(--hg-frame-color-font-menu-base);
      --el-menu-hover-text-color: var(--hg-frame-color-font-menu-base);
      --el-menu-bg-color: var(--hg-frame-color-bg-logo);
      --el-menu-hover-bg-color: var(--hg-frame-color-bg-menu-item-base);
      --el-menu-item-height: 40px;
      --el-menu-item-hover-fill: var(--hg-frame-color-bg-menu-item-base);
    }
  }
  @include m(menu) {
    border-right: 0 none;
    > .el-menu-item {
      padding-left: 11px !important;
    }
    > .el-sub-menu {
      > .el-sub-menu {
        &__title {
          padding-left: 11px !important;
        }
      }
    }
    .el-menu-item {
      position: relative;
      text-decoration: none;
      &::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 6px;
        height: 100%;
        content: '';
        background-color: rgb(255 255 255 / 0%);
      }
      @include when(active) {
        background-color: var(--el-menu-hover-bg-color);
        &::before {
          background-color: var(--hg-frame-color-bg-menu-item-border);
        }
      }
    }
    .el-sub-menu .el-menu-item {
      height: var(--el-menu-item-height);
      line-height: var(--el-menu-item-height);
    }
  }
}
